[submodule "submodules/diff-so-fancy"]
	path = submodules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "submodules/lesspipe"]
	path = submodules/lesspipe
	url = https://github.com/wofr06/lesspipe
[submodule "submodules/git-open"]
	path = submodules/git-open
	url = https://github.com/paulirish/git-open
[submodule "submodules/vboxmanage-bash-completion"]
	path = submodules/vboxmanage-bash-completion
	url = https://github.com/gryf/vboxmanage-bash-completion
[submodule "submodules/vagrant-bash-completion"]
	path = submodules/vagrant-bash-completion
	url = https://github.com/brbsix/vagrant-bash-completion
[submodule "submodules/open-bash-completion"]
	path = submodules/open-bash-completion
	url = https://github.com/moshen/open-bash-completion
[submodule "submodules/rmate"]
	path = submodules/rmate
	url = http://github.com/aurora/rmate
	branch = unix-socket
