[user]
email = jordan@jordemort.dev
name = Jordan Webb
signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDIqc7hWVQ0bhscBKzwgOIa4KqzQ5UHLlAErXHSxyVUtbO3PGaJ73Sc0zjshv3DNm3sy7F2Evw3jFv6Gn/A4H5Xsq6I+T5rPFsngi55GOFDYyVxddAPgkizlesRqcRB1tneeqvT/Cs1ng1fhr7GwlB4ZN4IyxjISNTUiAX3fu/6Ig+Kd7NK9I/lDcXqPTNqKsEuBk4dYEmdHyZJhv2q54BAnPbpX6V6B6eMJAkscTva3kfAzUFIXNESLhtkG4/fhF5ollnDT5KL0PM4Bf9VzsXAQbOh6hRfsrtXH6T+TRObkFZ9VtF4TaZ+mEcXoEUkGuYFkEBsOpvck9OXk0F5r4D8e/lB9RMzgIQpi82lVbeJUXOMAdGI+X0+gmYqWRa8/knCIn3A5HpYbos03L6pNmsPK5obMD+1KjkFdsrpDHfAu8RlwismGNpdXEm91DELUxahrG4TW1v/XRda4vfB31fXbJWBYUiekbrZxXIOv4CJld7j8bpc6evHaf8O3sVkOoSy5U8drUtk6MLgq04/TpDhfDJWvLjXW/2LABZ6ZBmJpTB1ipucIoTypVJoxSSj4X5p3PHVs4MH3itvsLFyPyRCjLyTkt9FC+Sehxyruc8z3a8IaeZoER1zIqYlx4Pf49rPLHUvQCFI+RwbtwgMJ1bLE0ruKZ09vkmfORzj+my3hQ== cardno:7192017

[gpg]
format = ssh

[commit]
gpgsign = true

[push]
default = simple

[core]
pager = some-git-pager

[interactive]
diffFilter = some-git-diff-filter

[add.interactive]
useBuiltin = false # required for git 2.37.0

[delta]
navigate = true # use n and N to move between diff sections
light = false   # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
side-by-side = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
algorithm = histogram

[github]
user = jordemort

[branch]
autosetupmerge = true

[color]
ui = true

[init]
defaultBranch = main

[submodule]
recurse = true

[pull]
rebase = false

[includeIf "gitdir:~/Work/"]
path = ~/.config/git/danger

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[rerere]
enabled = true

[help]
autocorrect = prompt
