[user]
	email = jordemort@github.com
	name = Jordan Webb
	signingkey = 47B6CE14
[commit]
	gpgsign = true
[push]
	default = simple
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[github]
	user = jordemort
[credential]
	helper = osxkeychain
[branch]
	autosetupmerge = true
[gpg]
	program = gpg2
