[user]
	email = jordemort@github.com
	name = Jordan Webb
    signingkey = 158FACBF
[commit]
    gpgsign = true
[push]
	default = simple
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[github]
	user = jordemort
[credential]
	helper = osxkeychain
