"*":
  "autocomplete-python-jedi":
    pythonPaths: "/usr/local/bin/python3;/usr/bin/python"
  "autocomplete-ruby":
    rsensePath: "/Users/jordan/.gem/ruby/2.3.0/bin/rsense"
  core:
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "FuraCode Nerd Font"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "172dcfa8-26d1-4f23-9a48-129ef755a620"
  "git-wip":
    notify: false
    warn: false
  "goto-definition":
    performanceMode: true
  "linter-python":
    executablePath: "/Users/jordan/Library/Python/3.6/bin/pylama"
  "linter-ui-default":
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "seti-ui":
    compactView: true
    fileIcons: false
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 7
    neverCloseUnsaved: true
