packages: [
  "autocomplete-python-jedi"
  "autocomplete-ruby"
  "busy-signal"
  "chmod"
  "editorconfig"
  "file-icons"
  "git-plus"
  "git-wip"
  "goto-definition"
  "highlight-selected"
  "hyperclick"
  "hyperlink-hyperclick"
  "intentions"
  "linter"
  "linter-csslint"
  "linter-perl"
  "linter-python"
  "linter-ruby"
  "linter-shellcheck"
  "linter-tidy"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "remote-atom"
  "seti-ui"
  "vim-modeline"
  "zentabs"
]
